<html>
    <head>
	  <title>Session Management in NodeJS using Node and Express</title>
	  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	  <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
	  <input type="text" id="uname" />
	  <button id="login">LOGIN</button>
	  <button id="logout">LOGIN</button>

	  <script>
		$(document).ready(function () {
		    let socket = io('//11.11.11.10:3001');
		    $('#login').on('click', () => {
			  socket.emit('login', {data: $('#uname').val()});
		    });
		    
		    $('#logout').on('click', () => {
			  socket.emit('logout', {data: $('#uname').val()});
		    });	    
		    
		});
	  </script>
    </body>
</html>