*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/

asset/websocket/node_modules
asset/websocket1/node_modules

asset/video/
asset/webfonts/
asset/sound/
asset/css/
asset/dist/
asset/fonts/
asset/image/
asset/less/
asset/locales/
asset/plugin/
asset/scss/
asset/temp/
db/